/*Meidda para tablets horizontal*/

@media screen and (max-width:1024px){
 /*   header #logo {
        width: 100%;
    }
    header nav {
        width: 100%;
        float: right;
    }
*/
    header nav ul li {
        margin: 0px 5px 10px 0px;
        background: #bf2222;
        padding: 10px;
    }

    header nav ul li a:hover{
        color: #ffffff;
    }

    #main #no-slide {
        display: none;
    }

    #main #articles_list #pagination p a {
        margin: 10px 20px 10px 20px;
        background-color: #bf2222;
        color: #ffffff;
        padding: 10px;
    }

    footer .widget {
        width: 50%;
    }

    .widget ul li {
        border-bottom: 1px solid #333333;
        padding: 5px 0px;
    }
}

/*Media para tablets en vertical*/
@media screen and (max-width:768px){
    header #logo {
        width: 100%;
        background-color: #333333;
    }
    
    header #logo p{
        text-align: center;
    }
    
    header #logo span {
        text-align: center;
        left: 50px;
    }
    
    header nav {
        width: 100%;
        float: left;
        margin-top: 10px;
    }
    
    header nav ul {
        float: left;
    }
    
    #main #articles_list {
        width: 100%;
    }
    
    #main aside {
        width: 100%;
        clear: both;
    }

    .widget {
        margin-bottom: 40px;
        width: 100%;
    }
}

/*MEDIDA SMARTPHONES*/

@media screen and (max-width:400px){
    #main #articles_list article .thumb {
        width: 100%;
        float: left;
        margin-bottom: 20px;
    }
}